#!/usr/bin/env xdg-open
[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Toggle Rotation

# A comment which can/will be used as a tooltip
Comment=Enable or disable automatic screen rotation

# The path to the folder in which the executable is run
Path=/usr/bin

# The executable of the application, possibly with arguments.
Exec=bash rotate.sh

# The name of the icon that will be used to display this entry
Icon=rotate

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=System;